.sticky-notes-form {
    max-width: 380px;
    /* height: 300px; */
    padding: 10px;
    border: 2px solid black;
    margin: auto auto;
}

form {
    width: 100%;
}

.form input {
    font-size: 1.3rem;
    padding: 5px;
    width: 100%;
    margin-bottom: 10px;
    outline: none;
    border: none;
    background-color: #F5F5F5;
}

form textarea {
    min-width: 100%;
    max-width: 100%;
    min-height: 200px;
    max-height: 420px;
    font-size: 1.2rem;
    outline: none;
    padding: 5px;
    background-color: #C4D7FF;
}

.btn {
    font-size: 1.4rem;
    padding: 0.5rem 2rem;
    border-radius: 6px;
    border: none;
    outline: none;
    cursor: pointer;
    background-color: #295F98;
    color: #ffffff;
    margin-top: 0.5rem;
}


/* phone */
@media only screen and (max-width: 600px) {

    .sticky-notes-form {
        width: 96%;
        padding: 5px;
        border: 1px solid black;
        margin: 1rem auto;
        height: auto;
    }   
}